<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>demo</key>
	<array>
		<array>
			<string>d</string>
			<string>d</string>
		</array>
		<array>
			<string>e</string>
			<string>eh</string>
		</array>
		<array>
			<string>m</string>
			<string>m</string>
		</array>
		<array>
			<string>o</string>
			<string>longo</string>
		</array>
	</array>
	<key>day</key>
	<array>
		<array>
			<string>d</string>
			<string>d</string>
		</array>
		<array>
			<string>ay</string>
			<string>longa</string>
		</array>
	</array>
	<key>lighthouse</key>
	<array>
		<array>
			<string>l</string>
			<string>el</string>
		</array>
		<array>
			<string>igh</string>
			<string>longi</string>
		</array>
		<array>
			<string>t</string>
			<string>t</string>
		</array>
		<array>
			<string>h</string>
			<string>h</string>
		</array>
		<array>
			<string>ou</string>
			<string>au</string>
		</array>
		<array>
			<string>se</string>
			<string>s</string>
		</array>
	</array>
	<key>labs</key>
	<array>
		<array>
			<string>l</string>
			<string>el</string>
		</array>
		<array>
			<string>a</string>
			<string>ah</string>
		</array>
		<array>
			<string>b</string>
			<string>b</string>
		</array>
		<array>
			<string>s</string>
			<string>s</string>
		</array>
	</array>
	<key>egg</key>
	<array>
		<array>
			<string>e</string>
			<string>eh</string>
		</array>
		<array>
			<string>gg</string>
			<string>g</string>
		</array>
	</array>
	<key>book</key>
	<array>
		<array>
			<string>b</string>
			<string>b</string>
		</array>
		<array>
			<string>oo</string>
			<string>euh</string>
		</array>
		<array>
			<string>k</string>
			<string>k</string>
		</array>
	</array>
	<key>north</key>
	<array>
		<array>
			<string>n</string>
			<string>n</string>
		</array>
		<array>
			<string>or</string>
			<string>or</string>
		</array>
		<array>
			<string>th</string>
			<string>th</string>
		</array>
	</array>
	<key>shoe</key>
	<array>
		<array>
			<string>sh</string>
			<string>sh</string>
		</array>
		<array>
			<string>oe</string>
			<string>oo</string>
		</array>
	</array>
	<key>father</key>
	<array>
		<array>
			<string>f</string>
			<string>f</string>
		</array>
		<array>
			<string>a</string>
			<string>ahh</string>
		</array>
		<array>
			<string>th</string>
			<string>thth</string>
		</array>
		<array>
			<string>er</string>
			<string>schwar</string>
		</array>
	</array>
	<key>team</key>
	<array>
		<array>
			<string>t</string>
			<string>t</string>
		</array>
		<array>
			<string>ea</string>
			<string>longe</string>
		</array>
		<array>
			<string>m</string>
			<string>m</string>
		</array>
	</array>
	<key>zipper</key>
	<array>
		<array>
			<string>z</string>
			<string>z</string>
		</array>
		<array>
			<string>i</string>
			<string>ih</string>
		</array>
		<array>
			<string>pp</string>
			<string>p</string>
		</array>
		<array>
			<string>er</string>
			<string>schwar</string>
		</array>
	</array>
	<key>choice</key>
	<array>
		<array>
			<string>ch</string>
			<string>ch</string>
		</array>
		<array>
			<string>oi</string>
			<string>oy</string>
		</array>
		<array>
			<string>ce</string>
			<string>s</string>
		</array>
	</array>
</dict>
</plist>
